<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lib.Net.Http.EncryptedContentEncoding" version="2.0.0" targetFramework="net471" />
  <package id="Lib.Net.Http.WebPush" version="2.3.0" targetFramework="net471" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.1.3" targetFramework="net471" />
  <package id="Sitecore.Analytics" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Model" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.XConnect" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Abstractions" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Api" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Model" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Registry" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Rules.Serialization" version="4.0.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.Services" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.XConnect" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Marketing" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Marketing.Automation.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Services.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Services.Infrastructure" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Multisite" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.SitecoreExtensions" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client.Configuration" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Collection.Model" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Core" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Segmentation.Predicates" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Service" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.Core" version="10.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
</packages>