<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sitecore>
    <marketingAutomation>
      <pluginDescriptorsRepository>
        <plugins>
          <!-- Assuming that the plugin is deployed directly under the plugins folder -->
          <plugin path="./plugins/sendPushNotification.plugin.js" />
        </plugins>
      </pluginDescriptorsRepository>
    </marketingAutomation>
  </sitecore>
</configuration>